*
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body
{
  display: flex;
}

/*Background*/
#back
{
  width: 100%;
  position: fixed;
  z-index: 0;
}

/*Navbar*/
nav
{
  border-radius: 10px 0px 0px 10px;
  position: fixed;
  overflow: hidden;
  width: 10%;
  left: 90%;
  height: 7%;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}

nav:hover
{
  background-color: rgb(32, 32, 32);
  left: 70%;
  width: 30%;
  height: 100%;
}

#menu
{
  width: 20px;
}

#links
{
  height: 100px;
  width: 50px;
}

.link
{
  text-decoration: none;
  color: rgba(60,194,132,255) ;
  font-weight: 600;
}

.spaces
{
  height: 15px;
}

#navlogo
{
  opacity: 70%;
  margin-top: 210px;
  width: 80px;
  z-index: 5;
}

/*Banner*/
#banner
{
  margin: 0px 0px 20px;
  width: 100%;
}

#ban
{  width: 100%;
}

#header
{
  position: ;
}

/*Article*/
article
{
  position: relative;
  width: 80%;
  margin-left: 10%;
}

.art
{
  width: 100%;
  box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  margin-bottom: 25px;
}

.artimg
{
  width: 100%;
  transition: 0.4s ease-in-out;
}

.imgart
{
  width: 100%;
  border-radius: 10px;
}

.textart
{
  width: 100%;
  height: fit-content;
}

.arttext
{
  padding: 10px 15px;
  font-size: 10px;
}

/*Footer*/
footer
{
  padding-top: 15px;
  background-color: rgb(32, 32, 32);
  width: 100%;
  color: white;
}

#footer
{
  width: 100%;
}

#socials
{
  display: flex;
  width: 85%;
  margin-left: 7.5%;
  padding: 0px 0px 15px; 
  border: solid orange;
  border-width: 0px 0px 1px;
}

.touch
{
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: orange;
  margin: auto;
}

.social
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 35px;
}

#rights
{
  text-align: center;
  padding: 10px 0px;
  margin: 0px 10%;
  width: 80%;
  font-size: 60%;
}