*
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

/*Banner*/
#banner
{
  width: 100%;
}

#ban
{
  width: 100%;
}

/*Navbar*/
nav
{
  margin-bottom: 20px;
}

/*Article*/
article
{
  position: relative;
  width: 80%;
  margin-left: 10%;
}

.art
{
  width: 100%;
  box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 14px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
  margin-bottom: 25px;
}

.artimg
{
  width: 100%;
  transition: 0.4s ease-in-out;
}

.imgart
{
  width: 100%;
  border-radius: 10px;
}

.textart
{
  text-transform: uppercase;
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}


/*Footer*/
footer
{
  background-color: rgb(32, 32, 32);
  width: 100%;
  color: white;
}

#footer
{
  width:  100%;
}

#rights
{
  text-align: center;
  padding: 10px 0px;
  border: solid rgb(171, 127, 18);
  border-width: 1px 0px 0px;
  margin: 0px 10%;
  width: 80%;
  font-size: 60%;
}