*
{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: PT Serif, sans-serif;
}

/*Nav*/
nav
{
  top: 0;
  z-index: 2;
  position: fixed;
  background-color: rgb(32, 32, 32);
  width: 100%;
  height: 60px;
  border: solid orange;
  border-width: 0px 0px 4px;
  overflow: hidden;
  transition: height 0.3s ease;
}

nav.expanded {
  height: 150px;
}

#menu
{
  position: absolute;
  margin-top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  opacity: 100;
  cursor: pointer;
}

#links
{
  display: block;
  text-align: center;
  padding-top: 50px;
}

.link
{
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  transition: 0.4s ease-in-out;
}

.link:hover
{
  text-decoration: underline;
}

.space
{
  height: 5px;
}

/*Banner*/
#banner
{
  margin-top: 40px;
  position: relative;
  width: 100%;
}

#ban
{
  display: block;
  width: 100%;
}

#banlaptop
{
  width: 100%;
  display: none;
}

#bandesktop
{
  width: 100%;
  display: none;
}

#services
{
  position: relative;
  width: 100%;
  height: 150px;
}

#slogo
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 70%;
}

/*Article*/
article
{
  position: relative;
  width: 100%;
  padding: 20px 20px;
}

.art
{
  width: 100%;
}

.artimg
{
  width: 100%;
}

.artdes
{
  font-size: 1rem;
  padding: 0px 10px;
  width: 100%;
}

/*Footer*/
footer
{
  position: relative;
  padding-top: 15px;
  width: 100%;
  color: white;
  background-color: rgb(32, 32, 32);
}

#footerbg
{
  position: absolute;
  width: 100%;
}

#footdet
{
  position: absolute;
}

#footlogo
{
  width: 0%;
}

#footer
{
  width: 100%;
}

#footerdesktop
{
  width: 0px;
}

#socials
{
  display: flex;
  width: 85%;
  margin-left: 7.5%;
  padding: 0px 0px 15px; 
  border: solid orange;
  border-width: 0px 0px 1px;
}

.touch
{
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: orange;
  margin: auto;
}

.social
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 35px;
}

#rights
{
  text-align: center;
  padding: 10px 0px;
  margin: 0px 10%;
  width: 80%;
  font-size: 60%;
}

/*For Phone Display*/
@media screen and (max-width: 767px) {
  
}

/*For Tablet Display*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /*Nav*/
  nav
  {
    height: 80px;
  }

  nav.expanded {
    height: 220px;
  }

  #menu
  {
    width: 65px;
  }

  #links
  {
    padding-top: 70px;
  }

  .link
  {
    font-size: 2rem;
  }

  /*Banner*/
  #services
  {
    height: 300px;
  }

  #slogo
  {
    width: 70%;
  }

  /*Article*/
  .artdes
  {
    font-size: 2rem;
    padding: 0px 10px;
    width: 100%;
  }

  /*Footer*/
  .touch
  {
    width: 100px;
    height: 100px;
  }

  .social
  {
    width: 70px;
  }

  #rights
  {
    font-size: 1.5rem;
  }
}

/*Laptop Display*/
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  /*Nav*/
  nav
  {
    height: 80px;
  }

  nav.expanded {
    height: 220px;
  }

  #menu
  {
    display: none;
  }

  #links
  {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 10px;
  }

  .link
  {
    font-size: 2.5rem;
  }

  /*Banner*/
  #ban
  {
    display: none;
  }

  #banlaptop
  {
    display: none;
  }

  #bandesktop
  {
    display: block
  }

  #services
  {
    height: 300px;
  }

  #slogo
  {
    width: 40%;
  }

  /*Article*/
  article
  {
    padding: 0px 50px 50px;
  }

  .art
  {
    margin-left: 10%;
    width: 80%;
    margin-bottom: 40px;
  }

  .artdes
  {
    font-size: 2em;
    padding: 0px 10px;
    width: 100%;
  }

  /*Footer*/
  #logofoot
  {
    display: flex;
    width: 100%;
  }

  #footer
  {
    display: none;
  }

  #footerdesktop
  {
    width: 100%;
  }

  .touch
  {
    width: 130px;
    height: 130px;
  }

  .social
  {
    width: 100px;
  }

  #rights
  {
    font-size: 2rem;
  }
}

/*Desktop Displau*/
@media screen and (min-width: 1440px) {
  /*Nav*/
  nav
  {
    height: 80px;
  }

  nav.expanded {
    height: 220px;
  }

  #menu
  {
    display: none;
  }

  #links
  {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 10px;
  }

  .link
  {
    font-size: 2.5rem;
  }

  /*Banner*/
  #ban
  {
    display: none;
  }

  #banlaptop
  {
    display: block;
  }

  #bandesktop
  {
    display: none;
  }

  #services
  {
    height: 400px;
  }

  #slogo
  {
    width: 40%;
  }

  /*Article*/

  article
  {
    padding: 0px 200px 0px;
  }

  .art
  {
    margin-left: 20%;
    width: 60%;
    margin-bottom: 70px;
  }

  .artdes
  {
    font-size: 2em;
    padding: 0px 10px;
    width: 100%;
  }

  /*Footer*/
  #logofoot
  {
    display: flex;
    width: 100%;
  }

  #footer
  {
    display: none;
  }

  #footerdesktop
  {
    width: 100%;
  }

  #footlogo
  {
    width: 25%;
  }

  .touch
  {
    width: 130px;
    height: 130px;
  }

  .social
  {
    width: 100px;
  }

  #rights
  {
    font-size: 2rem;
  }
}